@media(max-width:670px){
    /* NAVBAR */
    .navbar{
        padding: 0 20px;
    }
    .navbar a{
        margin: 0 5px;
    }
    
    /* END OF NAVBAR */
    
    /* ABOUT & STATISTIC */
    .text-about{
        width: auto;
        float: none;
    }
    .img-about{
        width: auto;
    }
    
    .text-bold-30 {
        font-size: 30px;
    }
    /* END OF ABOUT & STATISTIC*/




    .container{
        width: 95%;
        padding: 10px;
    }
    .glance-wrapper{
        width: 85%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    .glance-wrapper h3{
        text-align: center;
        font-size: 28px;
    }
    .glance-wrapper p{
        text-align: center;
        font-size: 25px;
    }
    .outlets h3, .employees h3{
        margin-top: 34px;
    }
    .flex-micro{
        display: flex;
        flex-direction: column;
    }
    .flex-micro-list{
        flex: auto;
        width:auto;
    }
    .top-item-left img{
        left: 30px;
    }
    .form-contact {
        /* height: 700px; */
        text-align: center;
        padding-bottom: 50px;
        /* position: absolute; */
      }
    
    
      .heading {
        padding-bottom: 10px;
    
        margin: 0 16px;
      }
    
      /* .col {
        width: 100%;
      } */
    
      .form-wrapper {
        padding: 0px;
        padding-top: 10px;
        width: 100%;
        flex-direction: column;
      }
    
      .form-right, .form-left {
        text-align: justify;
        border-left: none;
        width: 100%;
      }
    
      .form-right{
          padding-top: 0;
      }
    
      input.attachment {
        text-align: justify;
      }
    
      .contact-submit {
        text-align: center;
        margin-top: 16px;
      }
    
      p.notes {
        margin-top: 0px;
      }
}
@media(max-width:1000px){
   /* NAVBAR */
   .navbar a{
       margin:0 20px;
   }
   /* END OF NAVBAR */
   
   
    .glance-wrapper{
        width: 85%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    .glance-wrapper h3{
        text-align: center;
        font-size: 28px;
    }
    .glance-wrapper p{
        text-align: center;
        font-size: 25px;
    }
    .outlets h3, .employees h3{
        margin-top: 34px;
    }
    .form-wrapper {
        padding: 0px;
      }
    
      /* .form-contact {
        height: 750px;
      } */
    
      /* .col {
        float: none;
      } */
    
      .form-left {
        border-right: none;
      }
    
      .form-right {
        text-align: left;
      }
    
      .form-right p {
        padding-left: 0;
      }
    
      /* .form-item {
            width: 50%;
        } */
    
      .heading {
        margin: 0 18px;
      }
    
      /* .heading h3, p {
            text-align: center;
        } */
    
      .contact-submit {
        text-align: center;
        margin-top: 16px;
      }
    
}